In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly_express as px
import plotly.io as pio

In [3]:
df = pd.read_csv("/Users/luddecmc/Desktop/SKOLARBETE-ITHS/repos/python-programming-LUDWIG-CARLEGRUND/other/ludde_letterboxd_films.csv")

In [4]:
star_mapping = {
    '★★★★★': 5.0,
    '★★★★½': 4.5,
    '★★★★': 4.0,
    '★★★½': 3.5,
    '★★★': 3.0,
    '★★½': 2.5,
    '★★': 2.0,
    '★½': 1.5,
    '★': 1.0,
    '½': 0.5
}

In [5]:
df["rating"] = df["rating"].map(star_mapping)

In [6]:
df

,name,rating,genres,avg_user_rating
0,alien-romulus,4.0,"Science Fiction, Action, Horror",3.7
1,deadpool-wolverine,3.0,"Science Fiction, Action, Comedy",3.6
2,a-quiet-place-day-one,3.0,"Thriller, Science Fiction, Horror",3.2
3,maxxxine,4.0,"Horror, Crime, Mystery",3.1
4,the-last-journey-2024,4.5,Documentary,3.7
...,...,...,...,...
423,grease,3.0,"Comedy, Romance",3.5
424,star-wars,4.0,"Adventure, Action, Science Fiction",4.2
425,rocky,3.0,Drama,4.1
426,the-exorcist,4.0,"Drama, Horror",4.0
427,2001-a-space-odyssey,3.5,"Adventure, Mystery, Science Fiction",4.3